*{
    margin: 0%;
    padding: 0%;
}

.header{
    height: 100px;
    color:black;
    background-color: rgb(224, 187, 131);
    text-align: center;
    padding-top: 50px;
    
}
.parent{
    overflow: hidden;
}
.left_part{
    color: black;
    background-color: rgb(201, 105, 193);
    width: 25%;
    height: 400px;
    text-align: center;
    float: left;
    padding-top: 45px;
}
.center_part{
    color: black;
    background-color: rgb(207, 223, 151);
    width: 25%;
    height: 400px;
    text-align: center;
    float: left;
    padding-top: 45px;
}
.center_part2{
    color: black;
    background-color: rgb(99, 192, 180);
    width: 25%;
    height: 400px;
    text-align: center;
    float: left;
    padding-top: 45px;}

.right_part{
    color: black;
    background-color: rgb(187, 131, 233);
    width: 25%;
    height: 400px;
    text-align: center;
    float: left;
    padding-top: 45px;
}
.parent{
    overflow: hidden;
}
.main_content{
    height: 300PX;
    color: black;
    background-color: rgb(218, 198, 175);
    width: 100%;
    text-align: center;
    padding-top: 40px;


}
.footer{
        height: 100px;
        color: black;
        background-color: rgb(160, 185, 231);
        text-align: center;
        padding-top: 45px;
}